{% extends 'KellsBackBundle:Default:base2.php.twig' %}
{% block body %} 
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Agregar usuario Alarfin</h1>
                </div>
            </div>
            
            <div class="row">       
                <form role="role" method="post" action="{{path('save-alarfin')}}" >
                <div class="col-md-12">
                    <div class="well well-gris-claro">
                        <div class="row">
                            <div class="col-sm-6">                                
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input class="form-control" name="nombre" type="text" id="nombre" required autofocus tabindex="1">
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="apellido">Apellido</label>
                                    <input class="form-control" name="apellido" type="text" id="apellido" required tabindex="2">
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" name="email" type="email" id="email" required tabindex="3">
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="tipoUsuario">Tipo de usuario</label>
                                    <select class="form-control" name="tipoUsuario" id="tipoUsuario" required tabindex="4">
                                    	<option>Empleado</option>
                                        <option>Administrador</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="contrasena">Contrase&ntilde;a</label>
                                    <input class="form-control" name="contrasena" type="password" id="contrasena" required tabindex="5">
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="repetircontrasena">Repetir contrase&ntilde;a</label>
                                    <input class="form-control" name="repetircontrasena" type="password" id="repetircontrasena" required tabindex="6"  onKeyUp="checkPasswordMatch();">
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-12 toppad botpad text-center"> 
                    <input type="button" value="Cancelar" class="btn btn-default" onClick="location.href='{{path('alarfin')}}'"> &nbsp; <input type="submit" value="Agregar usuario Alarfin" class="btn btn-primary btn-lg">
                </div>
						</form>
            </div>		  	
        </div>
{% endblock %}