<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand"><a href="home.php"><img src="{{ asset('bundles/kellsback/images/logo-alarfin.png') }}" height="50" alt="Alarfin"></a></div>
</div>
<ul class="nav navbar-top-links navbar-right hidden-xs">
    <li>
        <a href="index.php">
            <i class="fa fa-sign-out fa-fw"></i> Salir </i>
        </a>
    </li>
</ul>