{% extends 'KellsBackBundle:Default:base2.php.twig' %}
{% block body %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Agregar Concesionaria</h1>
                </div>
            </div>
		  	<div class="row">       
                <form role="form" method="post" action="{{path('saveLicensee')}}">
                <div class="col-md-12">
                    <div class="well well-gris-claro">
                        <div class="row">
                            <div class="col-sm-6">                                
                                <div class="form-group">
                                    <label for="razonSocial">Razon Social</label>
                                    <input name="razonSocial" type="text" autofocus required class="form-control" id="nombre" tabindex="1" >
                                </div>
                            </div>
                            <div class="col-sm-6">                                
                                <div class="form-group">
                                    <label for="fantasia">Nombre de fantasía</label>
                                    <input name="fantasia" type="text" autofocus required class="form-control" id="fantasia" tabindex="2" >
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="ciudad">Localidad</label>
                                    <select name="city" type="text" required class="form-control" id="localidad" tabindex="3" >
                                    <option>&nbsp;</option>
									{% for city in cities %}
                                    	<option value="{{ city.id }}">{{ city.description }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="cuit">Cuit</label>
                                    <input name="cuit" type="text" required class="form-control" id="cuit" tabindex="3" >
                                </div>
                            </div>
                             <div class="clearfix"></div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input name="email" type="email" required class="form-control" id="email" tabindex="4" >
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="contactName">Nombre de Contacto</label>
                                    <input name="contactName" type="text" required class="form-control" id="contactName" tabindex="5" >
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="telefono">Tel&eacute;fono</label>
                                    <input name="telefono" type="tel" required class="form-control" id="telefono" tabindex="5" >
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                  <label for="contrasena">Contrase&ntilde;a</label>
                                    <input name="contrasena" type="password" required class="form-control" id="contrasena" tabindex="6" >
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="repetircontrasena">Repetir contrase&ntilde;a</label>
                                    <input name="repetircontrasena" type="password" required class="form-control" id="repetircontrasena" tabindex="7" >
                                </div>
                            </div>

                        </div>
                    </div> 
                </div>
                <div class="col-md-12 toppad botpad text-center"> 
                    <input type="button" value="Cancelar" class="btn btn-default" onClick="location.href='{{path('concesionarias')}}'"> &nbsp; <input type="submit" value="Guardar cambios" class="btn btn-primary btn-lg">
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}