{% extends 'KellsBackBundle:Default:base2.php.twig' %}
{% block body %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Editar usuario</h1>
                </div>
            </div>
		  	<div class="row">       
                <form role="form" method="post" action="{{path('saveUser')}}">
                <div class="col-md-12">
                    <div class="well well-gris-claro">
                        <div class="row">
                            <div class="col-sm-6">                                
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input name="nombre" type="text" autofocus required class="form-control" id="nombre" tabindex="1" ">
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="apellido">Apellido</label>
                                    <input name="apellido" type="text" required class="form-control" id="apellido" tabindex="2" >
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input name="email" type="email" required class="form-control" id="email" tabindex="3" >
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="telefono">Tel&eacute;fono</label>
                                    <input name="telefono" type="tel" required class="form-control" id="telefono" tabindex="4" >
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                  <label for="contrasena">Contrase&ntilde;a</label>
                                    <input name="contrasena" type="password" required class="form-control" id="contrasena" tabindex="5" >
                                </div>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label for="repetircontrasena">Repetir contrase&ntilde;a</label>
                                    <input name="repetircontrasena" type="password" required class="form-control" id="repetircontrasena" tabindex="6" >
                                </div>
                            </div>

                        </div>
                    </div> 
                </div>
                <div class="col-md-12 toppad botpad text-center"> 
                    <input type="button" value="Cancelar" class="btn btn-default" onClick="location.href='{{path('usuarios')}}'"> &nbsp; <input type="submit" value="Guardar cambios" class="btn btn-primary btn-lg">
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}