 <footer>
	<div class="container">
    	<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-6 col-lg-5 footer-datos">
            	<span class="text-blanco"><strong>Alarfin S.A.</strong> &nbsp; | &nbsp;  Servicios Financieros</span><br>
            	Rivadavia 3146 [7260], Saladillo, Buenos Aires, Argentina<br>
             	<a href="mailto:info@alarfin.com.ar">info@alarfin.com.ar</a> &nbsp; | &nbsp; <a href="tel:02344 452656">02344 452656</a> / <a href="tel:02344 433656">433656</a> / <a href="tel:02344 431656">431656</a>
		    </div>
            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-5 footer-redes">
            Seguinos en:<br>
            	<a href="https://www.facebook.com/pages/Alarfin/637917832974942?ref=hl" target="_blank">
            		<img src="{{ asset('bundles/kellsfront/img/logo-facebook.gif') }} " width="30" height="30" alt="Facebook" />
            	</a>
                <a href="https://twitter.com/alarfinsa" target="_blank">
                	<img src="{{ asset('bundles/kellsfront/img/logo-twitter.gif')}}" width="30" height="30" alt="Twitter" />
                </a>
            </div>
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 footer-logo">
				<a href="http://www.kells.com.ar" target="_blank">
					<img src="{{ asset('bundles/kellsfront/img/kells.png')}}" alt="Kells" title="Kells" />
				</a>
			</div>
        </div>
	</div>
</footer>
