{% extends 'KellsFrontBundle:Default:base.html.twig' %}
{% block body %}        
        <div class="container">
            <div class="row">
                <div class="col-xs-12 titulo">
                    <h1>La Empresa</h1>
              </div>
            </div>
            <div class="row linea-punteada-gris-abajo botpad">
				<div class="col-sm-8 empresa-historia">
                <h3 class="text-bordo text-uppercase nomar toppad">Nuestra Historia</h3>
				  <p class="topmar10"><strong><img src="{{asset('bundles/kellsfront/img/imagen-empresa-firma.jpg')}}" width="221" height="221" alt="Alarfin - Servicios Financieros" class="img-right">Alarfin S.A.</strong> nace en el a&ntilde;o 2004, en Saladillo Provincia de Buenos Aires, &nbsp;por una inquietud familiar, de generar y lanzar una Tarjeta de Cr&eacute;dito local, concret&aacute;ndose en noviembre del a&ntilde;o 2005. Para alcanzar tal meta, se utiliz&oacute; la base de clientes con 10.000 cuentas corrientes de la actividad comercial que nuestra familia viene desarrollando en esta ciudad desde el a&ntilde;o 1920.</p>
				  <p> En la actividad comercial, se utiliza un sistema de cr&eacute;dito muy personalizado, motivo suficiente para plantar los cimientos al nuevo negocio en camino.</p>
				  <p> Para reflejar la relaci&oacute;n existente entre ambas empresas, se pens&oacute; un nombre corto, f&aacute;cil de mencionar y que fuera representativo,&nbsp; sufriendo algunas modificaciones, &nbsp;nace el nombre &ldquo;<strong>Tarjeta OMIX</strong>&rdquo;.</p>
				  <p> <img src="{{asset('bundles/kellsfront/img/imagen-empresa-camionetas.jpg')}}" width="221" height="221" alt="Alarfin - Servicios Financieros" class="img-left">Las necesidades del mercado, con su evoluci&oacute;n permanente, nos impulsaron a realizar nuevas actividades crediticias, ofreciendo as&iacute; mayores beneficios a nuestros usuarios sin dejar de entregarles un continuo valor agregado. &nbsp;&nbsp;Entre las actividades incorporadas, mencionamos: descuentos de cheques de terceros, cr&eacute;ditos personales, de consumo, prendarios e hipotecarios, entre otros.</p>
				  <p> Hoy en d&iacute;a <strong>Alarfin S.A.</strong> junto a <strong>Tarjeta Omix</strong>, logran tener un prestigio en la ciudad y en la zona, alcanzando un exitoso posicionamiento y diferenciaci&oacute;n, logrando que cada d&iacute;a, sean m&aacute;s los usuarios que se benefician con nuestros servicios.</p>
				</div>
              <div class="col-sm-4 empresa-mision topmar30">
               	<h3 class="text-bordo text-uppercase nomar">Misi&oacute;n</h3>
               	  <p class="topmar10">Somos una organizaci&oacute;n que trabaja mediante la innovaci&oacute;n, eficiencia y procedimientos pre-definidos para que todas las personas y empresas puedan acceder a mejores servicios financieros, ofreciendo una sostenida rentabilidad financiera.</p>
                	<h3 class="text-bordo text-uppercase nomar toppad">Visi&oacute;n</h3>
                	<p class="topmar10">Ser reconocidos por nuestros clientes como la mejor alternativa de valor para satisfacer sus necesidades de financiamiento y por nuestros aliados comerciales como el socio estrat&eacute;gico y brazo financiero clave para desarrollo del negocio comercial.</p>
                	<h3 class="text-bordo text-uppercase nomar toppad">Valores</h3>
                	<p class="topmar10">Generar relaciones basadas en la Confianza rec&iacute;proca y v&iacute;nculos de largo plazo. Trabajar en equipo nos permite sumar opiniones, experiencias y as&iacute; obtener los resultados deseados. Permanente comunicaci&oacute;n con los clientes.</p>
                </div>
            </div>
            <div class="row toppad">
            	<div class="col-xs-12 text-center">
	            	<h3 class="text-uppercase nomar text-bordo">Nuestro Equipo</h3>
                </div>
            </div>
          <div class="row botpad">
				<div class="col-sm-4 topmar20">
               	  <h4>Guillermo  Rodolfo Alari</h4>
               	  <h5> Presidente</h5>
       	          <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:gralari@omix.com.ar">gralari@omix.com.ar</a></p>
            </div>
                <div class="col-sm-4 topmar20">
                	<h4>Adriana Marcela Sole</h4>
               	  <h5> Directora</h5>
       	          <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:amsole@omix.com.ar">amsole@omix.com.ar</a></p>
            </div>
                <div class="col-sm-4 topmar20">
                	<h4>Heber Candia</h4>
               	  <h5> Gerente</h5>
       	          <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:hcandia@omix.com.ar">hcandia@omix.com.ar</a></p>
            </div>
          </div>
        </div>
{% endblock %}