{% extends 'KellsFrontBundle:Default:base.html.twig' %}
{% block body %}        
        <div class="container">
            <div class="row">
                <div class="col-xs-12 titulo">
                    <h1>La Empresa</h1>
              </div>
            </div>
            <div class="row linea-punteada-gris-abajo botpad">
				<div class="col-sm-8 empresa-historia">
                <h3 class="text-bordo text-uppercase nomar toppad">Qui&eacute;nes somos</h3>
				  <p class="topmar10"><img src="{{asset('bundles/kellsfront/img/imagen-empresa-firma.jpg')}}" width="221" height="221" alt="Alarfin - Servicios Financieros" class="img-right"> Somos una empresa de servicios financieros con m&aacute;s de 10 a&ntilde;os de experiencia en el mercado. Radicados en la ciudad de Saladillo, poseemos una ubicaci&oacute;n geogr&aacute;fica estrat&eacute;gica que nos permite brindar una atenci&oacute;n personalizada a m&aacute;s de 25 ciudades de la provincia de Buenos Aires.</p>
				  <p>Nuestra trayectoria y experiencia, nos permite ofrecer un servicio financiero integral, compuesto por la tarjeta de cr&amp;eacute;dito Omix, cr&amp;eacute;ditos prendarios para particulares y corporativos, compra de facturas, y compra de cheques; garantizando la estabilidad financiera de clientes y socios comerciales.</p>
				  <p><img src="{{asset('bundles/kellsfront/img/imagen-empresa-camionetas.jpg')}}" width="221" height="221" alt="Alarfin - Servicios Financieros" class="img-left">Nuestro objetivo es brindar un servicio integral que nos permita ser <strong>&ldquo;Socios de Negocios&rdquo;</strong> de quienes conf&iacute;an en nosotros, mediante la construcci&oacute;n de un v&iacute;nculo comercial a largo plazo, basado en la confianza y el trabajo en conjunto. Este compromiso nos impulsa a trabajar en la innovaci&oacute;n constante, y es por eso que lanzamos este nuevo sitio web que incluye la &ldquo;Plataforma de Clasificados Alarfin&rdquo;, para agilizar las operaciones y facilitar la concreci&oacute;n de negocios entre clientes y agencias.</p>
				  <p>Hoy en d&iacute;a, Alarfin junto a la Tarjeta de cr&eacute;dito Omix, goza de prestigio en la ciudad y en la zona, alcanzando un exitoso posicionamiento y diferenciaci&oacute;n, logrando que cada d&iacute;a, sean m&aacute;s los beneficiarios de nuestros servicios.</p>
				</div>
              <div class="col-sm-4 empresa-mision">
               	<h3 class="text-bordo text-uppercase nomar toppad">Misi&oacute;n</h3>
               	  <p class="topmar10"><strong>&ldquo;Ser socios de negocios&rdquo;</strong> para que todas las personas y empresas puedan acceder a los mejores servicios financieros que les permitan cumplir sus proyectos, con la seguridad y respaldo de mantener su estabilidad financiera.</p>
                	<h3 class="text-bordo text-uppercase nomar toppad">Visi&oacute;n</h3>
                	<p class="topmar10">Ser un aliado estrat&eacute;gico para la comunidad y sus empresas, promoviendo servicios financieros para el desarrollo social y crecimiento econ&oacute;mico de la regi&oacute;n.</p>
                	<h3 class="text-bordo text-uppercase nomar toppad">Valores</h3>
                	<p class="topmar10">Generar v&iacute;nculos a largo plazo con nuestros clientes y socios de negocios, basados en la confianza, el respeto y el trabajo en conjunto. De esta manera, creemos en el valor de construir equipos de trabajo como la clave para ampliar las perspectivas, intercambiar experiencias y obtener resultados superadores.</p>
                </div>
            </div>
            <div class="row toppad">
            	<div class="col-xs-12 text-center">
	            	<h3 class="text-uppercase nomar text-bordo">Nuestro Equipo</h3>
                </div>
            </div>
          <div class="row botpad">
				<div class="col-sm-4 topmar20">
               	  <h4>Guillermo  Rodolfo Alari</h4>
               	  <h5> Presidente</h5>
       	          <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:gralari@omix.com.ar">gralari@omix.com.ar</a></p>
            </div>
                <div class="col-sm-4 topmar20">
                	<h4>Adriana Marcela Sole</h4>
               	  <h5> Directora</h5>
       	          <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:amsole@omix.com.ar">amsole@omix.com.ar</a></p>
            </div>
                <div class="col-sm-4 topmar20">
                	<h4>Heber Candia</h4>
               	  <h5> Gerente</h5>
       	          <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:hcandia@omix.com.ar">hcandia@omix.com.ar</a></p>
            </div>
          </div>
        </div>
{% endblock %}