 {% extends 'KellsFrontBundle:Default:base.html.twig' %}
{% block body %}         
        <div class="container">
            <div class="row">
                <div class="col-xs-12 titulo">
                    <h1>Preguntas Frecuentes</h1>
                </div>
            </div>
            <div class="row faq">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                	<ul>
                    	<li>
                        	<strong>&iquest;Qui&eacute;n puede solicitar un pr&eacute;stamo?</strong><br>
                            Cualquier persona puede solicitar un cr&eacute;dito en Alarfin S.A.
                        </li>
                        <li>
                        	<strong>&iquest;Qu&eacute; tipo de pr&eacute;stamo ofrecen?</strong><br>
                            Actualmente ofrecemos pr&eacute;stamos personales, prendarios, compra de cheques y cesi&oacute;n de facturas.
                        </li>
                        <li>
                        	<strong>&iquest;Hasta qu&eacute; monto de cr&eacute;dito se financia?</strong><br>
                            En pr&eacute;stamos prendarios se financia hasta el 50% del valor de la unidad en funci&oacute;n al valor tabla.
                        </li>
                        <li>
                        	<strong>&iquest;Cu&aacute;l es el costo de un pr&eacute;stamo?</strong><br>
                            Los intereses dependen del monto y de las cuotas del pr&eacute;stamo.
                        </li>
                        <li>
                        	<strong>Soy una agencia de venta de autos &iquest;C&oacute;mo puedo hacer para operar con ustedes?</strong><br>
              				Llamando al <a href="tel:02344-452656">02344-452656</a> o enviando un email a <a href="mailto:alarfinsa@gmail.com">alarfinsa@gmail.com</a>.
                        </li>
                        <li>
                        	<strong>&iquest;Cu&aacute;les son los requisitos para un pr&eacute;stamo?</strong><br>
             				Ver secci&oacute;n de requisitos.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
 {% endblock %}     