{% extends 'KellsFrontBundle:Default:base.html.twig' %}
{% block body %} 
        <div class="contenido-gris linea-gris-abajo">
            <div class="container botpad publicar">
                <div class="row">
                    <div class="col-xs-12 titulo">
                        <h1>Solicitar Cr&eacute;dito</h1>
                    </div>
                </div>
                <div class="row">                
						<div  id="divSuccess" class="alert alert-success" role="alert"><i class="fa fa-exclamation-circle fa-fw"></i> Gracias por enviarnos su solicitud, pronto nos estaremos comunicando con usted</div>
                      
                </div>           
            </div>
        </div>
        
       
             {% endblock %}