{% extends 'KellsFrontBundle:Default:base.html.twig' %}
{% block body %}

 <div class="contenido-gris">       
            <div class="container">
                <div class="row topmar botpad">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    					<div class="well well-alarfin">
    		{% if error %}
<div>{{ error.message }}</div>
{% endif %}
    		<form role="form" name="form" id="form" action="{{ path('login_check') }}" method="post">			
		 	<div class="row">
                <div class="col-xs-12">         
                    <h4 class="tit-usuario nomar">Ingreso de usuarios</h4>
                </div>
            </div>  
			
                <div class="row linea-alarfin-clara-arriba topmar20">
                    <div class="col-xs-12 topmar20">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control input-lg" name="_mail" id="email" tabindex="1" maxlength="150" required autofocus value="{{ last_mail }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Contrase&ntilde;a</label>
                            <input type="password" class="form-control input-lg" name="_password" id="password" tabindex="2" maxlength="20" required>
                        </div>
                    </div>
                </div>
                <div class="row linea-alarfin-clara-arriba topmar10">
                  <div class="col-xs-6 topmar20">
                    <input name="btn_enviar" type="submit" value="Ingresar" tabindex="3" class="btn btn-form btn-lg">
                    </div>
                    <div class="col-xs-6 topmar20 text-right">
                        <small><a href="recuperar-mi-contrasena.php">Olvid&eacute; mi contrase&ntilde;a</a></small>
                    </div>
                </div>
    		</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
 {% endblock %}